  .logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
  }
  .logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }
  .logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
  }
  
  
  body {
    font-family: 'Courier New', Courier, monospace; /* 設定全局字體 */
  }
  
  @media (max-width: 600px) {
    body {
      font-size: 14px; /* 較小設備的字體大小 */
    }
  }
  
  @media (min-width: 601px) and (max-width: 1200px) {
    body {
      font-size: 16px; /* 中等設備的字體大小 */
    }
  }
  
  @media (min-width: 1201px) {
    body {
      font-size: 18px; /* 較大設備的字體大小 */
    }
  }
  
  
  
  .card {
    padding: 2em;
  }
  .result {
    text-align: left; /* 將結果內容設置為左對齊 */
    border-radius: 8px; /* 圓角 */
    padding: 20px; /* 內邊距 */
  }
  
  .sequence-line {
    font-weight: bold; /* 標題加粗 */
    margin-bottom: 500px; /* 標題與字串之間的間距 */
    cursor: pointer; /* 鼠標懸停時顯示為可點擊 */
    color: #007bff; /* 藍色標題 */
    font-size: 20px; /* 根據視窗寬度調整字體大小 */
  }
  
  .sequence-string {
    max-width: 100%; /* 限制最大寬度 */
    padding: 5px; /* 內邊距 */
    font-family: 'Courier New', Courier, monospace; /* 對序列字符串的樣式 */
  }
  
  .bg-a {
  background-color: lightgreen; /* A 的背景色 */
  }

  .bg-t {
    background-color: lightcoral; /* T 的背景色 */
  }

  .bg-c {
    background-color: lightblue; /* C 的背景色 */
  }

  .bg-g {
    background-color: lightyellow; /* G 的背景色 */
  }

  .bg-large {
    background-color: lightgray; /* '-' 的背景色 */
  }

  .bg-other {
    background-color: lightgray; /* 其他字符的背景色 */
  }

  
  
  
  .pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  .pagination-button {
    background-color: #4CAF50; /* 綠色背景 */
    border: none; /* 無邊框 */
    color: white; /* 白色字體 */
    padding: 10px 20px; /* 內邊距 */
    text-align: center; /* 文字置中 */
    text-decoration: none; /* 無下劃線 */
    display: inline-block; /* 內聯塊元素 */
    font-size: 16px; /* 字體大小 */
    margin: 0 5px; /* 按鈕之間的間距 */
    cursor: pointer; /* 鼠標指針 */
    border-radius: 5px; /* 圓角 */
    transition: background-color 0.3s; /* 背景顏色過渡效果 */
  }
  
  .pagination-button:hover {
    background-color: #45a049; /* 懸停時變色 */
  }
  
  .pagination-button:disabled {
    background-color: #ccc; /* 禁用時的顏色 */
    cursor: not-allowed; /* 禁用狀態的指針 */
  }
  .table-container {
  width: 100%;
  border: 1px solid #ddd;
  }
  .color-bg-large {
  font-size: 2em; /* 調整字體大小 */
  color: inherit;   /* 繼承父元素顏色 */
  }

